@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald|Pacifico|Quicksand&display=swap');

* {
    font-family: "Quicksand";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;;
    -webkit-box-pack: center;;
        -ms-flex-pack: center;;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    margin:10px;
}

.header h1 {
    font-family: "Pacifico", cursive;
    letter-spacing:2px;
    font-weight: 100;
    margin-bottom:20px;
}


.itemList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.item {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item img {
    border:2px solid black;
}

.item h2, .item h3, .item p {
    margin:10px auto;
}

.item p {
    width:500px;
}

@media only screen and (max-width:600px) {
    
    .item p {
        width: 90%;
        text-align: justify;
    }
    .item {
        width:100%;
        margin:0;
        padding:0;
    }
    .item img {
        -o-object-fit: cover;
           object-fit: cover;
        width:100%;
    }

}
