
:root {
    --main-color: rgb(31, 102, 9)
}

html {
    font-size:16px;
}

* {
    padding: 0;
    margin: 0;
}

*, :not(img,a) {
    cursor: default;
}

.flex {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* The cover Image */

.coverImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 400px;
}


.overlay {
    text-shadow: 2px 3px 7px black;
    position: absolute;
    top:150px;
}

.overlay h1 {
    font-family: "Pacifico", cursive;
    color: white;
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 4.5rem;
    margin-bottom: 30px;
}

.overlay h3 {
    text-align:center;
    font-family: "Quicksand", sans-serif;
    color:white;
    font-size: 14px;
    letter-spacing: 3px;
}
video {
    object-fit: cover;
    width:100%;
    height: 400px;
}

.coverImage > h1 {
    font-family: "Pacifico", cursive;
    color: white;
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 4.5rem;
    margin-bottom: 30px;
}

.coverImage h3 {
    font-family: "Quicksand", sans-serif;
    color:white;
    font-size: 14px;
    letter-spacing: 3px;
}


/* About Section */

.banner {
    background: var(--main-color);
    height: 35px;
}

.banner h2 {
    text-align: center;
    color: white;
    font-family: "quicksand";
    letter-spacing: 5px;

}

.aboutWrapper {
    flex-direction: row;
    /* background-color:rgb(202, 182, 101); */
    height: 100%;
}

.aboutText {
    width:50%;
    font-family: "Quicksand";
    margin:0px 40px;
}
.aboutText p {
    margin-top: 5px;
}

.aboutText, .aboutText p a {
    color: black;
    font-size:18px ;
    text-decoration: none;
    text-align: center;
}

.aboutText p a {
    font-weight: 1000;
}

.aboutImage {
    width:50%;
    margin: 14px;
    height:500px;
    background-image: url(../images/locations/Carrauntoohil3.jpg);
    background-position: right;
    background-size: cover;
}





@media only screen and (max-width:900px) {
    .overlay h1{
        text-align: center;
        font-size:3.5rem;
    }

    .overlay h3 {
        margin: 5px;
        text-align: center;
        font-size: smaller;
    }
    
    
    .aboutWrapper {
        flex-direction: column;
    }

    .aboutText {
        margin:unset;
        padding:unset;
        margin-top:10px;
        padding-bottom: 20px;
        width:80%;

    }

    .aboutImage {
        width:100%;
    }
}

@media only screen and (max-width:768px) {
    .coverImage h1 {
        font-size:2.7rem;
        text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.377);
    }

    .coverImage h3 {
        font-size:0.7rem;
    }
}

@media only screen and (max-width:480px) {
    .coverImage {
        background-image: url(../images/cover/Lugnaquilla.jpg);
    }

    .aboutImage {
        margin:0;
    }

    .overlay {
        position:unset;
    }
    video {
        display: none;
    }
}