@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald|Pacifico|Quicksand&display=swap');


html {
	font-size:16px;
}

/* the font setting for the whole page */

* {
	font-family: "Quicksand";
}

h1 {
	text-align:center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: "pacifico";
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size:2.2rem;
	font-weight: 100;
}


p {
	text-align: center;
	margin-bottom: 10px;
	color:#22524e
}

.formWrapper {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.img {
	background-image: url(../images/locations/wicklowWay.jpg);
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	background-position: center right;
	height:500px;
	background-size: cover;
}

.form {
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
}
.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row;
	margin:10px;
}

.form-row label {
	font-size: 1rem;
	-webkit-box-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.form-row input {
	line-height: 16px;
	font-size: 0.9rem;
	-webkit-box-flex:3;
	    -ms-flex:3;
	        flex:3;
}

#ageGroup {
	font-family: "Montserrat";
}

.form-row .buttons button {
	margin:5px 3px;
	max-width:10px;
}

.phone input{
	-webkit-box-flex:0.33;
	    -ms-flex:0.33;
	        flex:0.33;
}

#submit {
	-webkit-box-flex:0.12;
	    -ms-flex:0.12;
	        flex:0.12;
}



@media only screen and (max-width:955px) {
	.form-row {
		text-align: center;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}

	#submit {
		-webkit-box-flex:unset;
		    -ms-flex:unset;
		        flex:unset;
	}
}

@media only screen and (max-width:768px) {
	.formWrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin:unset;
	}

	.form {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;

	}
	.form-row {
		margin-left:50px;
		margin-right:50px;
		text-align: center;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}

	.img {
		height:300px;
		-webkit-box-flex:unset;
		    -ms-flex:unset;
		        flex:unset;
	}

	#submit {
		font-size: 1rem;
		padding:2px 10px;
		-ms-flex-item-align: center;
		    align-self: center;
		border:2px solid black;
		background-color: white;
		-webkit-box-flex:unset;
		    -ms-flex:unset;
		        flex:unset;
		cursor: pointer;
		border-radius:3px;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}

	#submit:hover {
		color:white;
		background-color:black;
	}
}
